<div class="container">
    <div class="btn-group" role="group" style="padding-top: 10px">
        <div class="btn-group" role="group">
            <div uib-dropdown>
                <button class="btn btn-success" uib-dropdown-toggle type="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="true">
                    Nuevo
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="dropdownMenu1">
                    <li><a  ng-click="abrirModalPreguntas()">Pregunta</a></li>
                    <li><a  ng-click="abrirModalCategorias()">Categoria</a></li>
                    <li><a  ng-click="abrirModalEscala()">Escala</a></li>
                </ul>
            </div>            
        </div>
        <button class="btn btn-success" ng-click="pausar()">Pausar</button>
        <button class="btn btn-success" ng-click="resumir()">Resumir</button>                
    </div>
    <div>
            <h3 ng-show="!estaPausado">Jugando</h3>
            <h3 ng-show="estaPausado">Juego Pausado</h3>
        </div>  
   

    <script type="text/ng-template" id="modalPreguntas.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancelar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Crear Pregunta</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="jugador" class="col-sm-2 control-label">Jugador</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="jugador" ng-model="nuevaPregunta.jugador" ng-options="jugador for jugador in jugadores">
                            <option value="">---Elija el jugador al cual se le asignara la pregunta---</option>            
                        </select>            
                    </div>
                </div>
                <div class="form-group">
                    <label for="categoria" class="col-sm-2 control-label">Categoria</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="categoria" ng-model="nuevaPregunta.categoria" ng-options="categoria for categoria in categorias">
                            <option value="">---Elija una Categoria---</option>            
                        </select>            
                    </div>
                </div>
                <div class="form-group">
                    <label for="pregunta" class="col-sm-2 control-label">Pregunta</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="pregunta" ng-model="nuevaPregunta.pregunta" placeholder="Escriba una pregunta">
                    </div>
                </div>                   
                <div class="form-group">
                    <label for="respuesta1" class="col-sm-2 control-label">Respuesta 1</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="respuesta1" ng-model="nuevaPregunta.respuesta1" placeholder="Escriba una posible respuesta para la pregunta">
                            <span class="input-group-addon"><input type="radio" name="respuesta" id="respuesta1" value="respuesta1" ng-model="nuevaPregunta.correcta"> Correcta</span>
                        </div>
                    </div>                        
                </div>
                <div class="form-group">
                    <label for="respuesta2" class="col-sm-2 control-label">Respuesta 2</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="respuesta2" ng-model="nuevaPregunta.respuesta2" placeholder="Escriba una posible respuesta para la pregunta">
                            <span class="input-group-addon"><input type="radio" name="respuesta" id="respuesta2" value="respuesta2" ng-model="nuevaPregunta.correcta"> Correcta</span>
                        </div>                            
                    </div>
                </div>
                <div class="form-group">
                    <label for="respuesta3" class="col-sm-2 control-label">Respuesta 3</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="respuesta3" ng-model="nuevaPregunta.respuesta3" placeholder="Escriba una posible respuesta para la pregunta">
                            <span class="input-group-addon"><input type="radio" name="respuesta" id="respuesta3" value="respuesta3" ng-model="nuevaPregunta.correcta"> Correcta</span>
                        </div>                            
                    </div>
                </div>
                <div class="form-group">
                    <label for="tiempo" class="col-sm-2 control-label">Tiempo</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="tiempo" ng-model="nuevaPregunta.tiempo" placeholder="Ingrese el tiempo limite para responder la pregunta">
                    </div>
                </div>                                                        
            </form>        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary" ng-click="crearPregunta()" >Crear</button>
        </div>
    </script>
        
    <script type="text/ng-template" id="modalCategorias.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancelar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Crear Categoria</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="categoria" class="col-sm-2 control-label">Categoria</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="categoria" ng-model="nuevaCategoria.nombre" placeholder="Escriba el nombre de la nueva categoria">
                    </div>
                </div>                                                                            
            </form>        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary" ng-click="crearCategoria()">Crear</button>
        </div>
    </script>
    
    <script type="text/ng-template" id="modalEscala.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancelar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Cambiar Escala</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="escala" class="col-sm-2 control-label">Escala</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="escala" ng-model="nuevaEscala.escala" placeholder="Ingrese la nueva escala (Debe ser un valor >= 1)">
                    </div>
                </div>                                                                            
            </form>        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            <button type="button" class="btn btn-primary" ng-click="cambiarEscala()">Cambiar</button>
        </div>
    </script>

    <div class="row" id="jugadores" style="padding-top:10px">
        <div class="col-md-4" id="jugador1">
            <p class="text-success">Puntuación: {{puntaje1}}</p>
            <div class="panel panel-success">
                <div class="panel-heading text-center">
                    <h1 class="panel-title">{{jugador1.categoria}}</h1>
                    <h1 class="panel-title" ng-show="!jugador1.pregunta">Jugador 1</h1>
                    <span class="badge">{{jugador1.tiempo}}</span>
                    <span class="badge">{{jugador1.quantum}}</span>
                </div>
                <div class="panel-body text-success">                    
                    <p class="text-center">{{jugador1.pregunta}}</p>
                    <p class="text-center" ng-show="!jugador1.pregunta">Espera tu proxima pregunta</p>
                    <div class="radio" ng-hide="!jugador1.pregunta">
                        <label>
                            <input type="radio" name="jugador1Radios" id="optionsRadios1" value="respuesta1" ng-model="respuestas.jugador1">
                            {{jugador1.respuesta1}}
                        </label>
                    </div>
                    <div class="radio" ng-hide="!jugador1.pregunta">
                        <label>
                            <input type="radio" name="jugador1Radios" id="optionsRadios1" value="respuesta2" ng-model="respuestas.jugador1">
                            {{jugador1.respuesta2}}
                        </label>
                    </div>
                    <div class="radio" ng-hide="!jugador1.pregunta">
                        <label>
                            <input type="radio" name="jugador1Radios" id="optionsRadios1" value="respuesta3" ng-model="respuestas.jugador1">
                            {{jugador1.respuesta3}}
                        </label>
                    </div>                    
                    <button type="button" class="btn btn-success btn-lg btn-block" ng-hide="!jugador1.pregunta" ng-click="responder1()" ng-disabled="jugador1.respuestaElegida">Responder</button>
                </div>
            </div>     
        </div>
        <div class="col-md-4" id="jugador2">
            <p class="text-success">Puntuación: {{puntaje2}}</p>
            <div class="panel panel-success">
                <div class="panel-heading text-center">
                    <h1 class="panel-title">{{jugador2.categoria}}</h1>
                    <h1 class="panel-title" ng-show="!jugador2.pregunta">Jugador 2</h1>
                    <span class="badge">{{jugador2.tiempo}}</span>
                    <span class="badge">{{jugador2.quantum}}</span>
                </div>
                <div class="panel-body text-success">                    
                    <p class="text-center">{{jugador2.pregunta}}</p>
                    <p class="text-center" ng-show="!jugador2.pregunta">Espera tu proxima pregunta</p>
                    <div class="radio" ng-hide="!jugador2.pregunta">
                        <label>
                            <input type="radio" name="jugador2Radios" id="optionsRadios2" value="respuesta1" ng-model="respuestas.jugador2">
                            {{jugador2.respuesta1}}
                        </label>
                    </div>
                    <div class="radio" ng-hide="!jugador2.pregunta">
                        <label>
                            <input type="radio" name="jugador2Radios" id="optionsRadios2" value="respuesta2" ng-model="respuestas.jugador2">
                            {{jugador2.respuesta2}}
                        </label>
                    </div>
                    <div class="radio" ng-hide="!jugador2.pregunta">
                        <label>
                            <input type="radio" name="jugador2Radios" id="optionsRadios2" value="respuesta3" ng-model="respuestas.jugador2">
                            {{jugador2.respuesta3}}
                        </label>
                    </div>                    
                    <button type="button" class="btn btn-success btn-lg btn-block" ng-hide="!jugador2.pregunta" ng-click="responder2()" ng-disabled="jugador2.respuestaElegida">Responder</button>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="jugador3">
            <p class="text-success">Puntuación: {{puntaje3}}</p>
            <div class="panel panel-success">
                <div class="panel-heading text-center">
                    <h1 class="panel-title">{{jugador3.categoria}}</h1>
                    <h1 class="panel-title" ng-show="!jugador3.pregunta">Jugador 3</h1>
                    <span class="badge">{{jugador3.tiempo}}</span>
                    <span class="badge">{{jugador3.quantum}}</span>
                </div>
                <div class="panel-body text-success">                    
                    <p class="text-center">{{jugador3.pregunta}}</p>
                    <p class="text-center" ng-show="!jugador3.pregunta">Espera tu proxima pregunta</p>
                    <div class="radio" ng-hide="!jugador3.pregunta">
                        <label>
                            <input type="radio" name="jugador3Radios" id="optionsRadios3" value="respuesta1" ng-model="respuestas.jugador3">
                            {{jugador3.respuesta1}}
                        </label>
                    </div>
                    <div class="radio" ng-hide="!jugador3.pregunta">
                        <label>
                            <input type="radio" name="jugador3Radios" id="optionsRadios3" value="respuesta2" ng-model="respuestas.jugador3">
                            {{jugador3.respuesta2}}
                        </label>
                    </div>
                    <div class="radio" ng-hide="!jugador3.pregunta">
                        <label>
                            <input type="radio" name="jugador3Radios" id="optionsRadios3" value="respuesta3" ng-model="respuestas.jugador3">
                            {{jugador3.respuesta3}}
                        </label>
                    </div>                    
                    <button type="button" class="btn btn-success btn-lg btn-block" ng-hide="!jugador3.pregunta" ng-click="responder3()" ng-disabled="jugador3.respuestaElegida">Responder</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="listos">
        <div class="col-md-4" id="listos1">
            <div class="table-responsive">
                <table class="table" id="listos">
                    <caption>Listos</caption>
                    <tr>
                        <th>Categoria</th>
                        <th>Pregunta</th>
                        <th>Tiempo Ejecucion</th>
                    </tr>
                    <tr ng-repeat="listo in listos1">
                        <td>{{listo.categoria}}</td>
                        <td>{{listo.pregunta}}</td>
                        <td>{{listo.tiempo}}</td>
                    </tr>
                </table>    
            </div>            
        </div>
        <div class="col-md-4" id="listo2">
            <div class="table-responsive">
                <table class="table" id="listos">
                    <caption>Listos</caption>
                    <tr>
                        <th>Categoria</th>
                        <th>Pregunta</th>
                        <th>Tiempo Ejecucion</th>
                    </tr>
                    <tr ng-repeat="listo in listos2">
                        <td>{{listo.categoria}}</td>
                        <td>{{listo.pregunta}}</td>
                        <td>{{listo.tiempo}}</td>
                    </tr>
                </table>    
            </div>                        
        </div>
        <div class="col-md-4" id="listo3">
            <div class="table-responsive">
                <table class="table" id="listos">
                    <caption>Listos</caption>
                    <tr>
                        <th>Categoria</th>
                        <th>Pregunta</th>
                        <th>Tiempo Ejecucion</th>
                    </tr>
                    <tr ng-repeat="listo in listos3">
                        <td>{{listo.categoria}}</td>
                        <td>{{listo.pregunta}}</td>
                        <td>{{listo.tiempo}}</td>
                    </tr>
                </table>    
            </div>                         
        </div>
    </div>

    <div class="row" id="suspendidos">
        <div class="col-md-4" id="suspendido1">
            <div class="table-responsive">
                <table class="table" id="suspendidos">
                    <caption>Suspendidos</caption>
                    <tr>
                        <th>Categoria</th>
                        <th>Pregunta</th>
                        <th>Tiempo Restante</th>
                    </tr>
                    <tr ng-repeat="suspendido in suspendidos1">
                        <td>{{suspendido.categoria}}</td>
                        <td>{{suspendido.pregunta}}</td>
                        <td>{{suspendido.penalizacion}}</td>
                    </tr>
                </table>    
            </div>            
        </div>
        <div class="col-md-4" id="suspendido2">
            <div class="table-responsive">
                <table class="table" id="suspendidos">
                    <caption>Suspendidos</caption>
                    <tr>
                        <th>Categoria</th>
                        <th>Pregunta</th>
                        <th>Tiempo Restante</th>
                    </tr>
                    <tr ng-repeat="suspendido in suspendidos2">
                        <td>{{suspendido.categoria}}</td>
                        <td>{{suspendido.pregunta}}</td>
                        <td>{{suspendido.penalizacion}}</td>
                    </tr>
                </table>    
            </div>                        
        </div>
        <div class="col-md-4" id="suspendido3">
            <div class="table-responsive">
                <table class="table" id="suspendidos">
                    <caption>Suspendidos</caption>
                    <tr>
                        <th>Categoria</th>
                        <th>Pregunta</th>
                        <th>Tiempo Restante</th>
                    </tr>
                    <tr ng-repeat="suspendido in suspendidos3">
                        <td>{{suspendido.categoria}}</td>
                        <td>{{suspendido.pregunta}}</td>
                        <td>{{suspendido.penalizacion}}</td>
                    </tr>
                </table>    
            </div>                         
        </div>
    </div>

    <div class="row" id="bloqueados">
        <div class="col-md-4" id="bloqueado1">
            <div class="table-responsive">
                <table class="table" id="bloqueados">
                    <caption>Bloqueados</caption>
                    <tr>
                        <th>Categoria</th>
                        <th>Pregunta</th>                    
                    </tr>
                    <tr ng-repeat="bloqueado in bloqueados1">
                        <td>{{bloqueado.categoria}}</td>
                        <td>{{bloqueado.pregunta}}</td>                    
                    </tr>
                </table>    
            </div>            
        </div>
        <div class="col-md-4" id="bloqueado2">
            <div class="table-responsive">
                <table class="table" id="bloqueados">
                    <caption>Bloqueados</caption>
                    <tr>
                        <th>Categoria</th>
                        <th>Pregunta</th>                    
                    </tr>
                    <tr ng-repeat="bloqueado in bloqueados2">
                        <td>{{bloqueado.categoria}}</td>
                        <td>{{bloqueado.pregunta}}</td>                   
                    </tr>
                </table>    
            </div>                        
        </div>
        <div class="col-md-4" id="bloqueado3">
            <div class="table-responsive">
                <table class="table" id="bloqueados">
                    <caption>Bloqueados</caption>
                    <tr>
                        <th>Categoria</th>
                        <th>Pregunta</th>                    
                    </tr>
                    <tr ng-repeat="bloqueado in bloqueados3">
                        <td>{{bloqueado.categoria}}</td>
                        <td>{{bloqueado.pregunta}}</td>                    
                    </tr>
                </table>    
            </div>                         
        </div>
    </div>

    <div class="row" id="terminados">
        <div class="col-md-4" id="terminado1">
            <div class="table-responsive">
                <table class="table" id="terminados">
                    <caption>Terminados</caption>
                    <tr>
                        <th>Categoria</th>
                        <th>Pregunta</th>                    
                    </tr>
                    <tr ng-repeat="terminado in terminados1">
                        <td>{{terminado.categoria}}</td>
                        <td>{{terminado.pregunta}} <span class="label label-default" ng-show="!terminado.respuestaElegida">No respondida</span><span class="label label-success" ng-show="terminado.respuestaElegida == terminado.correcta">Correcta</span><span class="label label-danger" ng-show="terminado.respuestaElegida && terminado.respuestaElegida != terminado.correcta">Incorrecta</span></td>                    
                    </tr>
                </table>    
            </div>            
        </div>
        <div class="col-md-4" id="terminado2">
            <div class="table-responsive">
                <table class="table" id="terminados">
                    <caption>Terminados</caption>
                    <tr>
                        <th>Categoria</th>
                        <th>Pregunta</th>                    
                    </tr>
                    <tr ng-repeat="terminado in terminados2">
                        <td>{{terminado.categoria}}</td>
                        <td>{{terminado.pregunta}} <span class="label label-default" ng-show="!terminado.respuestaElegida">No respondida</span><span class="label label-success" ng-show="terminado.respuestaElegida == terminado.correcta">Correcta</span><span class="label label-danger" ng-show="terminado.respuestaElegida && terminado.respuestaElegida != terminado.correcta">Incorrecta</span></td>                   
                    </tr>
                </table>    
            </div>                        
        </div>
        <div class="col-md-4" id="terminado3">
            <div class="table-responsive">
                <table class="table" id="terminados">
                    <caption>Terminados</caption>
                    <tr>
                        <th>Categoria</th>
                        <th>Pregunta</th>                    
                    </tr>
                    <tr ng-repeat="terminado in terminados3">
                        <td>{{terminado.categoria}}</td>
                        <td>{{terminado.pregunta}} <span class="label label-default" ng-show="!terminado.respuestaElegida">No respondida</span><span class="label label-success" ng-show="terminado.respuestaElegida == terminado.correcta">Correcta</span><span class="label label-danger" ng-show="terminado.respuestaElegida && terminado.respuestaElegida != terminado.correcta">Incorrecta</span></td>                    
                    </tr>
                </table> 
            </div>                        
        </div>
    </div>

    <div class="row" id="gantts">
        <div class="col-md-4" id="gantt1">
            <div class="table-responsive">
                <table class="table" id="gantts">
                    <caption>Diagrama de Gantt</caption>
                    <tr ng-repeat="proceso in procesos1">
                        <th>{{proceso.nombre}}</th>
                        <td><uib-progress class="progress-striped active" max="proceso.max" ng-style="{'width': proceso.width + 'px'}"><uib-bar  ng-repeat="estado in proceso.lista track by $index" value="estado.valor" type="{{estado.tipo}}"><span>{{estado.valor}}</span></uib-bar></uib-progress></td>                    
                    </tr>            
                </table>    
            </div>            
        </div>
        <div class="col-md-4" id="gantt2">
            <div class="table-responsive">
                <table class="table" id="gantts">
                    <caption>Diagrama de Gantt</caption>
                    <tr ng-repeat="proceso in procesos2">
                        <th>{{proceso.nombre}}</th>
                        <td><uib-progress class="progress-striped active" max="proceso.max" ng-style="{'width': proceso.width + 'px'}"><uib-bar  ng-repeat="estado in proceso.lista track by $index" value="estado.valor" type="{{estado.tipo}}"><span>{{estado.valor}}</span></uib-bar></uib-progress></td>                    
                    </tr>                    
                </table>    
            </div>                        
        </div>
        <div class="col-md-4" id="gantt3">
            <div class="table-responsive">
                <table class="table" id="gantts">
                    <caption>Diagrama de Gantt</caption>
                    <tr ng-repeat="proceso in procesos3">
                        <th>{{proceso.nombre}}</th>
                        <td><uib-progress class="progress-striped active" max="proceso.max" ng-style="{'width': proceso.width + 'px'}"><uib-bar  ng-repeat="estado in proceso.lista track by $index" value="estado.valor" type="{{estado.tipo}}"><span>{{estado.valor}}</span></uib-bar></uib-progress></td>                    
                    </tr>                    
                </table> 
            </div>                        
        </div>
    </div>
</div>